USE [master]
GO
/****** Object:  Database [IS2G10_DBSSS]    Script Date: 2015/10/20 10:38:41 PM ******/
CREATE DATABASE [IS2G10_DBSSS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IS2G10_DBSSS', FILENAME = N'C:\Users\SoftDev\IS2G10_DBSSS.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'IS2G10_DBSSS_log', FILENAME = N'C:\Users\SoftDev\IS2G10_DBSSS_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IS2G10_DBSSS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IS2G10_DBSSS]
GO
/****** Object:  Table [dbo].[ATTENDANCE]    Script Date: 2015/10/20 10:38:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ATTENDANCE](
	[student_id] [int] NOT NULL,
	[student_activity_id] [int] NOT NULL,
	[student_activity_tutorrating] [int] NULL,
	[student_activity_rating] [int] NULL,
	[student_arrived] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[student_id] ASC,
	[student_activity_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BRANDING]    Script Date: 2015/10/20 10:38:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BRANDING](
	[branding_id] [int] IDENTITY(1,1) NOT NULL,
	[program_icon] [varbinary](max) NULL,
	[system_logo] [varbinary](max) NULL,
	[system_name] [nvarchar](255) NULL,
	[splash_colour] [nvarchar](255) NULL,
	[splash_time] [time](7) NULL,
	[is_system_clean] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[branding_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CONSULTATION]    Script Date: 2015/10/20 10:38:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONSULTATION](
	[consultation_id] [int] IDENTITY(1,1) NOT NULL,
	[coordinator_id] [int] NOT NULL,
	[tutor_id] [int] NOT NULL,
	[student_id] [int] NULL,
	[consultation_details] [nvarchar](255) NULL,
	[consultation_date] [datetime] NULL,
	[student_arrived] [bit] NULL,
	[consultation_rating] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[consultation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[COURSE]    Script Date: 2015/10/20 10:38:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COURSE](
	[course_id] [int] IDENTITY(1,1) NOT NULL,
	[course_name] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ENROLLMENT]    Script Date: 2015/10/20 10:38:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENROLLMENT](
	[course_id] [int] NOT NULL,
	[student_id] [int] NOT NULL,
	[class_mark] [float] NULL,
	[exam_mark] [float] NULL,
	[year_mark] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[course_id] ASC,
	[student_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GROUP]    Script Date: 2015/10/20 10:38:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GROUP](
	[group_id] [int] IDENTITY(1,1) NOT NULL,
	[group_name] [nvarchar](255) NULL,
	[group_day] [nvarchar](10) NULL,
	[group_time] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[group_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SESSION]    Script Date: 2015/10/20 10:38:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SESSION](
	[tutor_id] [int] NOT NULL,
	[group_id] [int] NOT NULL,
	[updated_attendance] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[tutor_id] ASC,
	[group_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SSS_COORDINATOR]    Script Date: 2015/10/20 10:38:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SSS_COORDINATOR](
	[coordinator_id] [int] NOT NULL,
	[coordinator_firstname] [nvarchar](255) NULL,
	[coordinator_lastname] [nvarchar](255) NULL,
	[coordinator_id_passport] [nvarchar](255) NULL,
	[coordinator_dateofbirth] [datetime] NULL,
	[coordinator_emailaddress] [nvarchar](255) NULL,
	[coordinator_cellnumber] [nvarchar](14) NULL,
PRIMARY KEY CLUSTERED 
(
	[coordinator_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[STUDENT]    Script Date: 2015/10/20 10:38:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT](
	[student_id] [int] NOT NULL,
	[coordinator_id] [int] NOT NULL,
	[group_id] [int] NULL,
	[student_firstname] [nvarchar](255) NULL,
	[student_lastname] [nvarchar](255) NULL,
	[student_id_passport] [nvarchar](255) NULL,
	[student_dateofbirth] [datetime] NULL,
	[student_emailaddress] [nvarchar](255) NULL,
	[student_mobilenumber] [nvarchar](14) NULL,
	[student_yearofstudy] [int] NULL,
	[student_degreeprogramme] [nvarchar](255) NULL,
	[student_status] [nvarchar](255) NULL,
	[student_points] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[student_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[STUDENT_ACTIVITY]    Script Date: 2015/10/20 10:38:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT_ACTIVITY](
	[student_activity_id] [int] IDENTITY(1,1) NOT NULL,
	[student_activity_name] [nvarchar](255) NULL,
	[student_activity_pointvalue] [int] NULL,
	[student_activity_week] [int] NULL,
	[student_activity_description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[student_activity_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TUTOR]    Script Date: 2015/10/20 10:38:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TUTOR](
	[tutor_id] [int] NOT NULL,
	[tutor_firstname] [nvarchar](255) NULL,
	[tutor_lastname] [nvarchar](255) NULL,
	[tutor_id_passport] [nvarchar](255) NULL,
	[tutor_dateofbirth] [datetime] NULL,
	[tutor_emailaddress] [nvarchar](255) NULL,
	[tutor_cellnumber] [nvarchar](14) NULL,
	[tutor_trainingstatus] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[tutor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TUTOR_AVAILABLE_TIMES]    Script Date: 2015/10/20 10:38:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TUTOR_AVAILABLE_TIMES](
	[tutor_time_id] [int] IDENTITY(1,1) NOT NULL,
	[tutor_id] [int] NOT NULL,
	[available_day] [nvarchar](255) NULL,
	[available_time] [time](7) NULL,
	[date_free] [datetime] NULL,
	[booked] [bit] NULL CONSTRAINT [DF_TUTOR_AVAILABLE_TIMES_booked]  DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[tutor_time_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USER_ROLE]    Script Date: 2015/10/20 10:38:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_ROLE](
	[user_roles_id] [int] IDENTITY(1,1) NOT NULL,
	[user_role] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_roles_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USERPROFILE]    Script Date: 2015/10/20 10:38:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERPROFILE](
	[user_id] [int] NOT NULL,
	[user_name] [nvarchar](255) NULL,
	[user_roles_id] [int] NOT NULL,
	[password_hash] [nvarchar](255) NULL,
	[password_salt] [nvarchar](255) NULL,
	[PrimaryAccent] [nvarchar](255) NULL,
	[SecondaryAccent] [nvarchar](255) NULL,
	[isDark] [bit] NOT NULL,
	[resetPassword] [bit] NOT NULL,
	[useOldForms] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[ATTENDANCE] ([student_id], [student_activity_id], [student_activity_tutorrating], [student_activity_rating], [student_arrived]) VALUES (10003, 1, 5, 4, 1)
INSERT [dbo].[ATTENDANCE] ([student_id], [student_activity_id], [student_activity_tutorrating], [student_activity_rating], [student_arrived]) VALUES (10003, 2, 4, 4, 1)
INSERT [dbo].[ATTENDANCE] ([student_id], [student_activity_id], [student_activity_tutorrating], [student_activity_rating], [student_arrived]) VALUES (10003, 3, 4, 5, 1)
SET IDENTITY_INSERT [dbo].[CONSULTATION] ON 

INSERT [dbo].[CONSULTATION] ([consultation_id], [coordinator_id], [tutor_id], [student_id], [consultation_details], [consultation_date], [student_arrived], [consultation_rating]) VALUES (4, 76582, 20001, 10003, N'Having trouble with login into the system', CAST(N'2015-08-20 00:00:00.000' AS DateTime), 1, 4)
INSERT [dbo].[CONSULTATION] ([consultation_id], [coordinator_id], [tutor_id], [student_id], [consultation_details], [consultation_date], [student_arrived], [consultation_rating]) VALUES (5, 76582, 20001, 10024, N'Having problems with information systems diagrams.', CAST(N'2015-08-22 00:00:00.000' AS DateTime), 0, NULL)
INSERT [dbo].[CONSULTATION] ([consultation_id], [coordinator_id], [tutor_id], [student_id], [consultation_details], [consultation_date], [student_arrived], [consultation_rating]) VALUES (7, 76582, 20005, 10024, N'sdgdsg', CAST(N'2015-08-01 00:00:00.000' AS DateTime), 1, 5)
SET IDENTITY_INSERT [dbo].[CONSULTATION] OFF
SET IDENTITY_INSERT [dbo].[COURSE] ON 

INSERT [dbo].[COURSE] ([course_id], [course_name]) VALUES (1, N'Information Systems')
INSERT [dbo].[COURSE] ([course_id], [course_name]) VALUES (2, N'Computer Science')
INSERT [dbo].[COURSE] ([course_id], [course_name]) VALUES (3, N'Law')
SET IDENTITY_INSERT [dbo].[COURSE] OFF
INSERT [dbo].[ENROLLMENT] ([course_id], [student_id], [class_mark], [exam_mark], [year_mark]) VALUES (1, 10003, 50, 50, 50)
INSERT [dbo].[ENROLLMENT] ([course_id], [student_id], [class_mark], [exam_mark], [year_mark]) VALUES (1, 10004, 45, 55, 65)
INSERT [dbo].[ENROLLMENT] ([course_id], [student_id], [class_mark], [exam_mark], [year_mark]) VALUES (1, 10005, 32, 44, 67)
SET IDENTITY_INSERT [dbo].[GROUP] ON 

INSERT [dbo].[GROUP] ([group_id], [group_name], [group_day], [group_time]) VALUES (1, N'Group 1', N'Monday', CAST(N'14:00:00' AS Time))
INSERT [dbo].[GROUP] ([group_id], [group_name], [group_day], [group_time]) VALUES (2, N'Group 2', N'Tuesday', CAST(N'08:00:00' AS Time))
INSERT [dbo].[GROUP] ([group_id], [group_name], [group_day], [group_time]) VALUES (3, N'Group 3', N'Wednesday', CAST(N'08:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[GROUP] OFF
INSERT [dbo].[SESSION] ([tutor_id], [group_id], [updated_attendance]) VALUES (20001, 1, 1)
INSERT [dbo].[SESSION] ([tutor_id], [group_id], [updated_attendance]) VALUES (20001, 2, 0)
INSERT [dbo].[SESSION] ([tutor_id], [group_id], [updated_attendance]) VALUES (20010, 3, 0)
INSERT [dbo].[SSS_COORDINATOR] ([coordinator_id], [coordinator_firstname], [coordinator_lastname], [coordinator_id_passport], [coordinator_dateofbirth], [coordinator_emailaddress], [coordinator_cellnumber]) VALUES (69857, N'Sam', N'Gap', N'3253654678766', CAST(N'1958-01-02 00:00:00.000' AS DateTime), N'Sam.Gap@sss.com', N'(071)667 6778')
INSERT [dbo].[SSS_COORDINATOR] ([coordinator_id], [coordinator_firstname], [coordinator_lastname], [coordinator_id_passport], [coordinator_dateofbirth], [coordinator_emailaddress], [coordinator_cellnumber]) VALUES (76582, N'Charles', N'Peters', N'8990060656183', CAST(N'1989-06-13 00:00:00.000' AS DateTime), N'Charles.Peters@sss.com', N'(071)567 2854')
INSERT [dbo].[SSS_COORDINATOR] ([coordinator_id], [coordinator_firstname], [coordinator_lastname], [coordinator_id_passport], [coordinator_dateofbirth], [coordinator_emailaddress], [coordinator_cellnumber]) VALUES (76589, N'Zuko', N'Singhdee', N'2103313207185', CAST(N'1968-05-05 00:00:00.000' AS DateTime), N'Zuko.Singhdee@sss.com', N'(073)555 5555')
INSERT [dbo].[STUDENT] ([student_id], [coordinator_id], [group_id], [student_firstname], [student_lastname], [student_id_passport], [student_dateofbirth], [student_emailaddress], [student_mobilenumber], [student_yearofstudy], [student_degreeprogramme], [student_status], [student_points]) VALUES (10003, 76582, NULL, N'Jill', N'Hill', N'9415362161183', CAST(N'1994-07-12 00:00:00.000' AS DateTime), N'Jill.Hill@sss.com', N'(084)228 2135', 1, N'SB000', N'BLUE', 60)
INSERT [dbo].[STUDENT] ([student_id], [coordinator_id], [group_id], [student_firstname], [student_lastname], [student_id_passport], [student_dateofbirth], [student_emailaddress], [student_mobilenumber], [student_yearofstudy], [student_degreeprogramme], [student_status], [student_points]) VALUES (10004, 76582, 1, N'Nathan', N'De Beer', N'0005050797181', CAST(N'1995-06-06 00:00:00.000' AS DateTime), N'Nathan.De.Beer@sss.com', N'(072)569 4585', 1, N'SB000', N'BRONZE', 130)
INSERT [dbo].[STUDENT] ([student_id], [coordinator_id], [group_id], [student_firstname], [student_lastname], [student_id_passport], [student_dateofbirth], [student_emailaddress], [student_mobilenumber], [student_yearofstudy], [student_degreeprogramme], [student_status], [student_points]) VALUES (10005, 76582, 1, N'Anne', N'Hunt', N'3212233008182', CAST(N'1996-09-09 00:00:00.000' AS DateTime), N'Anne.Hunt@sss.com', N'(081)235 2213', 1, N'ACSCI', N'BLUE', 50)
SET IDENTITY_INSERT [dbo].[STUDENT_ACTIVITY] ON 

INSERT [dbo].[STUDENT_ACTIVITY] ([student_activity_id], [student_activity_name], [student_activity_pointvalue], [student_activity_week], [student_activity_description]) VALUES (1, N'Reading-Level Test', 10, 1, N'This evaluates students reading competencies.')
INSERT [dbo].[STUDENT_ACTIVITY] ([student_activity_id], [student_activity_name], [student_activity_pointvalue], [student_activity_week], [student_activity_description]) VALUES (2, N'Time Management Workshop', 10, 2, N'This teaches students time management techniques.')
INSERT [dbo].[STUDENT_ACTIVITY] ([student_activity_id], [student_activity_name], [student_activity_pointvalue], [student_activity_week], [student_activity_description]) VALUES (3, N'Study Skills Workshop', 10, 3, N'This teaches different methods of studying.')
SET IDENTITY_INSERT [dbo].[STUDENT_ACTIVITY] OFF
INSERT [dbo].[TUTOR] ([tutor_id], [tutor_firstname], [tutor_lastname], [tutor_id_passport], [tutor_dateofbirth], [tutor_emailaddress], [tutor_cellnumber], [tutor_trainingstatus]) VALUES (20001, N'Susan', N'Kotzen', N'9415362161183', CAST(N'1993-07-12 00:00:00.000' AS DateTime), N'Susan.Kotzen@sss.com', N'(071)549 5634', 1)
INSERT [dbo].[TUTOR] ([tutor_id], [tutor_firstname], [tutor_lastname], [tutor_id_passport], [tutor_dateofbirth], [tutor_emailaddress], [tutor_cellnumber], [tutor_trainingstatus]) VALUES (20002, N'Nathan', N'De Beer', N'9405366364086', CAST(N'1995-08-08 00:00:00.000' AS DateTime), N'Nathan.De Beer@sss.com', N'(084)333 4568', 1)
INSERT [dbo].[TUTOR] ([tutor_id], [tutor_firstname], [tutor_lastname], [tutor_id_passport], [tutor_dateofbirth], [tutor_emailaddress], [tutor_cellnumber], [tutor_trainingstatus]) VALUES (20003, N'Anne', N'Junt', N'1905052659181', CAST(N'1991-01-05 00:00:00.000' AS DateTime), N'Anne.Junt@sss.com', N'(065)456 2870', 1)
SET IDENTITY_INSERT [dbo].[TUTOR_AVAILABLE_TIMES] ON 

INSERT [dbo].[TUTOR_AVAILABLE_TIMES] ([tutor_time_id], [tutor_id], [available_day], [available_time], [date_free], [booked]) VALUES (1, 20001, N'Wednesday', CAST(N'14:00:00' AS Time), CAST(N'2015-10-21 14:00:00.000' AS DateTime), 0)
INSERT [dbo].[TUTOR_AVAILABLE_TIMES] ([tutor_time_id], [tutor_id], [available_day], [available_time], [date_free], [booked]) VALUES (2, 20001, N'Wednesday', CAST(N'14:00:00' AS Time), CAST(N'2015-10-28 14:00:00.000' AS DateTime), 0)
INSERT [dbo].[TUTOR_AVAILABLE_TIMES] ([tutor_time_id], [tutor_id], [available_day], [available_time], [date_free], [booked]) VALUES (3, 20001, N'Wednesday', CAST(N'14:00:00' AS Time), CAST(N'2015-11-04 14:00:00.000' AS DateTime), 0)
GO
SET IDENTITY_INSERT [dbo].[TUTOR_AVAILABLE_TIMES] OFF
SET IDENTITY_INSERT [dbo].[USER_ROLE] ON 

INSERT [dbo].[USER_ROLE] ([user_roles_id], [user_role]) VALUES (1, N'Administrator')
INSERT [dbo].[USER_ROLE] ([user_roles_id], [user_role]) VALUES (2, N'Coordinator')
INSERT [dbo].[USER_ROLE] ([user_roles_id], [user_role]) VALUES (3, N'Tutor')
SET IDENTITY_INSERT [dbo].[USER_ROLE] OFF
INSERT [dbo].[USERPROFILE] ([user_id], [user_name], [user_roles_id], [password_hash], [password_salt], [PrimaryAccent], [SecondaryAccent], [isDark], [resetPassword], [useOldForms]) VALUES (10003, N'Jill.Hill@sss.com', 4, N'h8yK+1k0AEz/z9uC54lmsAi2Qjwulcns8HkSXzVQQa9zmm1k2rJFr8LSKWeM7uw8L3Dp0KBcuH8sMgwL5c42ZA==', N'rQ4apc7ErwXL3s8eeIOYgcdGVBruS8sDhONU7ADBxHqJMwZjGkzm0Y7UE/WkUBF6Pm+GYl9iQpVSKm+rfIgXeg==', NULL, NULL, 0, 0, NULL)
INSERT [dbo].[USERPROFILE] ([user_id], [user_name], [user_roles_id], [password_hash], [password_salt], [PrimaryAccent], [SecondaryAccent], [isDark], [resetPassword], [useOldForms]) VALUES (10004, N'Nathan.De.Beer@sss.com', 4, NULL, NULL, NULL, NULL, 0, 1, NULL)
INSERT [dbo].[USERPROFILE] ([user_id], [user_name], [user_roles_id], [password_hash], [password_salt], [PrimaryAccent], [SecondaryAccent], [isDark], [resetPassword], [useOldForms]) VALUES (10005, N'Anne.Hunt@sss.com', 4, NULL, NULL, NULL, NULL, 0, 1, NULL)
ALTER TABLE [dbo].[ATTENDANCE]  WITH CHECK ADD FOREIGN KEY([student_id])
REFERENCES [dbo].[STUDENT] ([student_id])
GO
ALTER TABLE [dbo].[ATTENDANCE]  WITH CHECK ADD FOREIGN KEY([student_activity_id])
REFERENCES [dbo].[STUDENT_ACTIVITY] ([student_activity_id])
GO
ALTER TABLE [dbo].[CONSULTATION]  WITH CHECK ADD FOREIGN KEY([coordinator_id])
REFERENCES [dbo].[SSS_COORDINATOR] ([coordinator_id])
GO
ALTER TABLE [dbo].[CONSULTATION]  WITH CHECK ADD FOREIGN KEY([student_id])
REFERENCES [dbo].[STUDENT] ([student_id])
GO
ALTER TABLE [dbo].[CONSULTATION]  WITH CHECK ADD FOREIGN KEY([tutor_id])
REFERENCES [dbo].[TUTOR] ([tutor_id])
GO
ALTER TABLE [dbo].[ENROLLMENT]  WITH CHECK ADD FOREIGN KEY([course_id])
REFERENCES [dbo].[COURSE] ([course_id])
GO
ALTER TABLE [dbo].[ENROLLMENT]  WITH CHECK ADD FOREIGN KEY([student_id])
REFERENCES [dbo].[STUDENT] ([student_id])
GO
ALTER TABLE [dbo].[SESSION]  WITH CHECK ADD FOREIGN KEY([group_id])
REFERENCES [dbo].[GROUP] ([group_id])
GO
ALTER TABLE [dbo].[SESSION]  WITH CHECK ADD FOREIGN KEY([tutor_id])
REFERENCES [dbo].[TUTOR] ([tutor_id])
GO
ALTER TABLE [dbo].[STUDENT]  WITH CHECK ADD FOREIGN KEY([coordinator_id])
REFERENCES [dbo].[SSS_COORDINATOR] ([coordinator_id])
GO
ALTER TABLE [dbo].[STUDENT]  WITH CHECK ADD FOREIGN KEY([group_id])
REFERENCES [dbo].[GROUP] ([group_id])
GO
ALTER TABLE [dbo].[TUTOR_AVAILABLE_TIMES]  WITH CHECK ADD FOREIGN KEY([tutor_id])
REFERENCES [dbo].[TUTOR] ([tutor_id])
GO
ALTER TABLE [dbo].[USERPROFILE]  WITH CHECK ADD FOREIGN KEY([user_roles_id])
REFERENCES [dbo].[USER_ROLE] ([user_roles_id])
GO
USE [master]
GO
