<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SSS_Windows_Forms.Properties.Settings.IS2G10_DBSSSConnectionString"
            connectionString="Data Source=.;Initial Catalog=IS2G10_DBSSS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>